h1{
    background: #830e9a;
    
}
p{
    color: #9a0e0e;
}
body{
    background-image: url('pexels-photo-868110.jpg');
    background-color: rgb(52, 174, 174);
    margin: 20px;
    background-image:url("C:\Users\anil kumar\Downloads\imge1.jpg") ;
}